[2017-08-13 00:13] rougeth opened #1 "Automatically handle i18n"

[2017-08-31 19:27] rougeth opened #2 "Render messages (jinja2?)"

[2017-08-31 19:28] rougeth opened #3 "Multiplatform"
Would be great to run the same bot for telegram, messenger, slack, etc.

[2017-08-31 19:28] rougeth opened #4 "Integration with NLP APIs"

[2017-09-13 21:04] rougeth opened #5 "Docs \o/"

[2017-09-16 05:08] rougeth opened #6 "Setup flake8 and isort"

[2017-09-16 05:08] #2 closed, assigned to rougeth

[2017-09-16 14:48] jairojair opened #7 "Pipenv support"
Hi  @rougeth

What 'u think add support to pipenv?

https://github.com/kennethreitz/pipenv

[2017-09-16 15:01] jairojair opened #8 "Tests ?"

[2017-09-16 17:49] rougeth commented on #7
@jairojair I never used pipenv and I know just a bit about it. But actually I know there is a lot of people talking about it. Do you the benefits?

[2017-09-18 01:55] rougeth opened #9 "Python 2.x support?"

[2017-09-18 12:25] nicoddemus commented on #9
IMHO you don't need to support Python 2.x for two reasons:

* You won't be able to use the very nice `async/await` syntax if you support Python 2.
* This is not a library that will be used in another applications, this is a framework to create bots so users don't have the same restrictions of a common library, where they would use the library together with their existing codebase. Here this does n

[2017-09-23 05:13] rougeth opened #10 "Configure codecov"
https://docs.codecov.io/docs/codecov-yaml

[2017-09-23 22:17] #10 closed

[2017-09-23 22:19] rougeth commented on #8
@jairojair we finally started creating tests \o/, I'm closing this issue because it's not specific.

Thanks!

[2017-09-23 22:19] #8 closed

[2017-09-23 22:20] rougeth commented on #9
Agreed  @nicoddemus, thanks!

[2017-09-23 22:20] #9 closed

[2017-09-23 22:20] #6 closed

[2017-09-23 22:21] rougeth commented on #7
@jairojair I'm probably going to support it, I'm just focusing on tests and docs right now, so this will take a bit to be done.

[2017-09-24 00:02] jairojair commented on #8
you're amazing! 👍

[2017-09-24 16:08] nicoddemus opened #13 "License?"
There is no license in the repository currently... if there's no license, a project is assumed to be closed source. I of course know that's not intentional. 😁

If you don't know which license you want, please take a look at https://choosealicense.com/ 👍

I usually use MIT for my projects.

[2017-09-24 17:27] rougeth commented on #13
Done @nicoddemus! Thanks :)

[2017-09-24 17:27] #13 closed

[2017-09-25 06:59] nicoddemus commented on #13
Awesome!

[2017-09-28 12:11] rougeth opened #16 "Introduction page"

[2017-09-28 17:55] HargovindArora commented on #16
@rougeth where you want to this to be. Can you be more specific what has to be written in it?

[2017-09-28 19:10] rougeth commented on #16
@HargovindArora I'll merge #15 until the end of this week. This PR adds a `/docs` folder with Sphinx configured. I want to have more non technical informations about Bottery, like why it exists and the problems it aims to solve. I'll assign this to me since there's just a few things about it on README.md and lots on my head. But thanks for asking.

[2017-09-28 19:19] rougeth commented on #16
@HargovindArora I'll reorganize the issues with the `hacktoberfest` later too.

[2017-09-29 00:17] nicoddemus opened #20 "Windows testing?"
Are you guys interested in testing on Windows automatically as well?

I volunteer to open a PR with the proper configuration, someone owner of the repository just have to create an account/team on https://www.appveyor.com. 😁

[2017-09-29 00:43] rougeth commented on #20
Yes, definitely! I created the account, let me know if you need anything.

[2017-09-29 00:58] nicoddemus commented on #20
Could you please go to settings/badges and get the URL of the code for "Branch sample markdown code"? I would like to include the badge to the README in the same PR.

[2017-09-29 02:11] rougeth commented on #20
`[![Build status](https://ci.appveyor.com/api/projects/status/we3h64nj98vvxcre/branch/master?svg=true)](https://ci.appveyor.com/project/rougeth/bottery/branch/master)`

[2017-09-29 03:15] nicoddemus commented on #20
Thanks, #21 is up.

[2017-09-29 03:29] #20 closed

[2017-09-29 03:40] #5 closed

[2017-09-29 19:42] gabrielecker commented on #7
May I work on this?

[2017-09-29 23:29] rougeth commented on #7
@gabrielecker sure!

[2017-09-30 20:24] humrochagf opened #24 "Key error at Telegram build_message"
When we send something that isn't a message (e.g.: an edit to a sent message) to the bot, it breaks due to a the absence of the key `'message`' at the response.

For example, when we edit a message, the response data contains `'edited_message'` key instead `'message'` which raises an key error at line 87 at `telegram.py` file:

[code]

[2017-09-30 21:20] humrochagf commented on #24
I've made the PR #25 in order to solve that problem

[2017-09-30 21:44] rougeth commented on #24
Closed at #25

[2017-09-30 21:44] #24 closed

[2017-10-01 13:21] humrochagf opened #26 "Support for context url groups"
Bots become more awesome when they can react to some context, for example at a store support bot:

[code]

[2017-10-02 14:10] gabrielecker commented on #7
So just to be clear, by supporting pipenv you mean just adding its dependencies files?

[2017-10-02 14:29] rougeth commented on #7
@gabrielecker actually it's probably just the `Pipfile` integrated to `setup.py`. @jairojair what did you have in mind?

[2017-10-02 14:33] rougeth commented on #7
@gabrielecker I'm sorry, like I said, I know just a bit about pipenv, pipfile, etc and its benefits. Maybe we should discuss it more, what do you have in mind too?

[2017-10-02 16:32] gabrielecker commented on #7
I've been searching about `setup.py` and `Pipfile ` integration and it looks like an anti-pattern.
There are a few statements about the own pipenv creator above:

https://github.com/kennethreitz/pipenv/issues/571

[2017-10-02 23:40] rougeth opened #28 "Create better exceptions"
Stop using directly `Exception` class:
[code]

[2017-10-02 23:52] ewenchou commented on #28
I can take this

[2017-10-03 02:31] rougeth commented on #26
@humrochagf s/url/pattern/?

[2017-10-03 04:18] rougeth opened #30 "Use better colors to highlight code on docs"
Pygements demos: http://pygments.org/demo/

[2017-10-03 04:23] rougeth opened #31 "Validate projects name before creating its folder"
What should be a valid name? See Django as reference.
https://github.com/rougeth/bottery/blob/master/bottery/cli.py#L33

[2017-10-03 04:30] rougeth opened #35 "Doc how to create a bot on Telegram"
Specify the steps at Telegram to create a new bot.

[2017-10-03 05:42] asi7296 commented on #31
I'd like to take this up. Validate the name before creating the project, else throw an exception and exit?

[2017-10-03 05:42] asi7296 commented on #31
I'd like to take this up. Validate the name before creating the project, else throw an exception and exit?

[2017-10-03 06:09] angelbarrera92 commented on #31
Django name must be valid package names.
I can take this issue today :)

[2017-10-03 06:11] angelbarrera92 commented on #31
As PEP8 indicates:

    Modules should have short, all-lowercase names. Underscores can be used in the module name if it improves readability. Python packages should also have short, all-lowercase names, although the use of underscores is discouraged.

[2017-10-03 06:13] asi7296 commented on #31
I've just submitted a PR addressing this issue a few minutes ago. The CI tests are currently running. Sorry about the timing, I should've posted a message here first about taking the issue up.

[2017-10-03 06:14] angelbarrera92 commented on #31
Ouch. Im late!

[2017-10-03 12:25] rougeth commented on #31
Thank you for your interest @angelbarrera92! Hope you're able to work on another issue :smile:

[2017-10-03 15:43] supertassu commented on #35
Assign me to this. @rougeth

[2017-10-03 16:03] rougeth commented on #35
Thanks @supertassu! Do you want discuss what should have on this doc before starting?

[2017-10-03 17:02] supertassu commented on #35
If you want, that's fine to me. Easiest to me would be thru [Discord](https://discordapp.com/): supertassu#0036

[2017-10-03 17:37] #30 closed

[2017-10-03 17:51] rougeth commented on #35
@supertassu I just would like to have something similar to Telegram Bots documentation: https://core.telegram.org/bots#6-botfather. Nothing too extended.

[2017-10-03 18:51] #28 closed

[2017-10-03 21:59] rougeth opened #40 "Create a Base exception"
discussion: https://github.com/rougeth/bottery/pull/29#discussion_r142532573

[2017-10-04 00:16] #40 closed

[2017-10-04 00:53] rougeth opened #44 "Create test for bottery.log.ColoredFormatter"

[2017-10-04 01:55] delta9000 commented on #44
I can take this.

[2017-10-04 03:25] rougeth opened #45 "Increase coverage for bottery/app.py"
Missing lines: 45-56, 59-66, 38->45
*See Travis log to confirm the missing lines:* https://travis-ci.org/rougeth/bottery

[2017-10-04 03:26] rougeth opened #46 "Increase coverage for bottery/cli.py"
Missing lines: 51-52
*See Travis log to confirm the missing lines:* https://travis-ci.org/rougeth/bottery

[2017-10-04 03:27] rougeth opened #47 "Increase coverage for bottery/conf/settings.py"
Missing lines: 11-25, 32, 35-37

[2017-10-04 03:28] rougeth opened #48 "Increase coverage for bottery/log.py"
Missing lines: 43-45, 5->exit

Related to: #44

*See Travis log to confirm the missing lines*: https://travis-ci.org/rougeth/bottery

[2017-10-04 03:30] rougeth opened #49 "Increase coverage for message.py, user.py and views.py"
Missing lines:
* /bottery/message.py: 20
* /bottery/user.py: 4-8
* /bottery/views.py: 1-2

*See Travis log to confirm the missing lines*: https://travis-ci.org/rougeth/bottery

[2017-10-04 03:32] rougeth opened #50 "Increase coverage for battery/platform/__init__.py"
Missing lines: 13-27, 38, 42, 45, 48
*See Travis log to confirm the missing lines:* https://travis-ci.org/rougeth/bottery

[2017-10-04 03:33] rougeth opened #51 "Increase coverage for bottery/platform/telegram.py"
Missing lines: 83, 86-91, 94-113, 136-150, 79->exit
*See Travis log to confirm the missing lines:* https://travis-ci.org/rougeth/bottery

[2017-10-04 04:29] delta9000 commented on #44
Turns out it's not too easy to get the log output with the formatting applied.  Testfixtures has a nice wrapper for logging that intercepts the records, so I fed them to your logformatter directly and compared the output to known good ANSI escape codes for the coloration.

[2017-10-04 07:04] AdeilH commented on #51
Hey I am beginner I am taking this.

[2017-10-04 09:59] atmishra commented on #50
Hey I would like to work on it.

[2017-10-04 11:00] nicoddemus opened #53 "Consider adopting a code coverage service"
Given the recent issues about code coverage, it might be nice to adopt one of the available code coverage services that have GitHub integration. The advantage is that those services keep a code coverage record of each branch and post code coverage information in each PR. The two I know about are:

* [codecov](https://codecov.io/): [example of it in action](https://github.com/tox-dev/tox/pull/630#i

[2017-10-04 13:04] rougeth commented on #53
I had codecov configured, but just noticed that Travis was returning an error when calling its command:

[code]

Already fixed on #54
Thanks @nicoddemus.

[2017-10-04 13:05] #53 closed

[2017-10-04 16:19] supertassu commented on #35
Just submitted a PR.

[2017-10-04 21:40] rougeth commented on #51
Great @AdeilH

[2017-10-04 21:41] #48 closed

[2017-10-04 21:41] rougeth commented on #48
Closed on #52

[2017-10-04 21:41] rougeth commented on #44
Closed on #52

[2017-10-05 03:44] rougeth opened #60 "Pin requirements versions at setup.py before 0.0.1 release"

[2017-10-05 12:23] #35 closed

[2017-10-05 14:10] AdeilH commented on #51
Can you help me understand travis I have never used it before. Sorry.

[2017-10-05 14:13] nicoddemus commented on #60
@rougeth what pins do you have in mind? "hard" pins (`requests==2.18.0`) or "requirement" pins (`requests>=2.16`), IOW, pinning because you depend on a feature available starting from a specific version of a package?

[2017-10-05 16:19] rougeth commented on #60
"requirement" pins, I don't want to have Bottery broken because of a dependency changed.

[2017-10-05 16:27] rougeth commented on #51
Hi @AdeilH, sure I can help. You don't Travis for doing this issue. Travis is just a service that run our tests automatically and alert us if any of them is broken (Travis can do a lot more than that, but for now that is enough).

 First of all, you need to clone bottery and run its tests:

[code]
This command will clone the repository in your computer and install and run Tox. After that, you will

[2017-10-05 17:01] nicoddemus commented on #60
Sounds good. 👍

[2017-10-05 17:57] AdeilH commented on #51
Thanks a lot.

[2017-10-07 17:32] anapaulagomes commented on #46
A good idea is to add `codecov` to the project. Each time someone sends a PR, the tool will generate a coverage report pointing if the coverage has increased or not. Also, you can see the coverage easily with a beautiful badge. :)

[2017-10-08 01:34] rougeth commented on #46
Hey @anapaulagomes!! Thanks for the comment! :D Codecov is already configured and it blocks each pull request that decrease the coverage. I disabled the report on pull request comments because I personally don't like it, but it's working!

[2017-10-08 03:39] jenkassim commented on #47
Hi, I'm a beginner here and I'd like to work on this.
    Test if a message template is rendered with a
    specified context.

[2017-10-08 03:39] jenkassim commented on #47
Hi, I'm a beginner here and I'd like to work on this.

[2017-10-08 12:21] rougeth commented on #47
Hi @jenkassim! Thank you very much for your interest in the project :) Be free to start working on this issue but if you need any help, just tell me.

[2017-10-08 12:40] rougeth commented on #7
@gabrielecker I'm sorry for the delay (just saw your lighting talk on #pybr13 hahaha congrats!). Well, let's close this issue, right?

[2017-10-08 12:40] #7 closed

[2017-10-08 14:26] kplaube commented on #45
I'll try to solve this. :)

[2017-10-08 18:00] leportella opened #63 "Bottery could return a message informing that no pattern was found"
If not pattern was found, there is no response from the system. This way you don't know if there is, indeed, no message, or if there is no connection available.

A small message, with options for configuration, could be returned instead.

[2017-10-08 19:14] raulbolsantos commented on #63
Even if all configurations are ok, and the bottery is running successfully, the system should show status messages instead an empty terminal.

[2017-10-10 13:25] rougeth opened #70 "Codecov always on "Waiting for status to be reported ""

[2017-10-10 13:35] rougeth commented on #45
Missing lines: 54->57

[2017-10-10 13:36] kplaube commented on #45
@rougeth I'm pretty much sure that those lines are being tested. I'll take a new look in order to increase this to 100%.

[2017-10-10 13:36] #44 closed

[2017-10-10 13:40] rougeth commented on #45
Thanks @kplaube!

[2017-10-10 13:44] nicoddemus commented on #70
I've noticed this happening on occasion as well... not sure what's causing it though.

[2017-10-10 14:22] rougeth opened #72 "Concentrate all dependencies at setup.py"
We have some dependencies at `tox.ini` that are not at `setup.py` and others duplicated on both files. We should keep them at `setup.py` on `extras_require` except `codecov`, that should stay only on `tox.ini`.

[2017-10-10 14:27] #63 closed

[2017-10-10 14:28] #46 closed

[2017-10-10 14:29] jtemporal commented on #31
I'll take a go at this one =)

[2017-10-10 17:50] #49 closed

[2017-10-10 21:17] nicoddemus commented on #16
Is this issue still valid now that we have a `quickstart` session in the docs?

[2017-10-10 21:28] nicoddemus opened #76 "Allow more complex conversations (context)"
As we talked last time, I think it would be nice for `bottery` to support more complex conversations by allowing multiple replies from within a message handler.

[code]

(`head_set` is a little joke of course :headphones:)

The main advantage of this approach is that we keep the **context** of the conversation inside the same function. Without this the user will have to maintain that context thems

[2017-10-10 21:30] nicoddemus opened #77 "Async handlers"
Currently the handlers are not `async` functions. For simple interactions that is fine, but if the bot needs to do some I/O (accessing a database, consulting a website, etc) an `async` function would scale better.

[2017-10-11 03:09] guidiego opened #79 "Problems with python throws"
### Whats happen?
For any reason python does not throw any exception during `bottery run`

### How reproduce it?
In my case I'm testing some stuff that I've done in this PR: #78, so you can jump on my branch and do this steps:

- Guarantee that bottery are local `pip install -e ../bottery/path`
- Jump to my PR (or go to any function and force a error)
- You will se that bottery still running witho

[2017-10-11 03:33] #31 closed

[2017-10-11 03:44] #45 closed

[2017-10-11 11:52] #16 closed

[2017-10-11 12:08] rougeth commented on #79
@ivanbrasilico got the same issue, I'll work on this one as soon as possible.

[2017-10-11 13:39] rougeth opened #81 "Allow more complex patterns (without context)"
At Python Brasil, we talked a lot about how `Pattern` obj is so limited and how we could improve it. The main point of the discussion was how we could implement other "types" of patterns:

[code]

I believe the second "kind of" pattern is the easiest for who will use Bottery. But I think we should discuss it better.

@nicoddemus @muriloviana @mawkee @ElSaico @leportella

[2017-10-11 14:18] ElSaico commented on #81
I'm partial towards 2) as well, myself - though the available mappings for  `type` would need to be a configurable setting for extensiblity purposes.

As an aside, Django 2.0 is going to follow option 1), with the `path` and `re_path` functions:

https://docs.djangoproject.com/en/dev/releases/2.0/#simplified-url-routing-syntax

[2017-10-11 14:28] nicoddemus commented on #81
I think 2) is more suitable, as it will be more flexible. For example, when we include NLP support the pattern constructor will probably be very different:

[code]

IOW, not all patterns will share the same "constructor".

It will also allow external packages to easily add patterns themselves without the need for any special support from `bottery` other than a well defined interface that patterns

[2017-10-11 14:30] leportella commented on #81
@nicoddemus you said you prefer the second one, but your example seems to be equal to the first option.  Which one do you prefer? :D

[2017-10-11 15:25] nicoddemus commented on #81
Oops sorry I meant the first one, with separate classes for each pattern. 😋

[2017-10-11 15:42] muriloviana commented on #81
The option 2) looks pretty easy to understand and manage. However, I think the option 1) is more explicit and readable to Bottery users.

[2017-10-11 15:46] muriloviana commented on #81
I really like the idea of keep only one Pattern, but I guess it looks too magical.

[2017-10-11 16:11] mawkee commented on #81
I think I prefer the first option. This would give us more flexibility for extra attributes depending on the pattern class; for instance, it'd make sense for RegexPattern to be able to use named groups, but that would make zero sense for Pattern. It'd be easier for IDEs to show some hints based on the pattern class

Even though 2 could potentially be easier to implement, on the long run it could i

[2017-10-11 16:36] rougeth commented on #81
Wooh, internally, Django does something really similar with the third option:
https://github.com/django/django/blob/master/django/urls/conf.py

[2017-10-11 17:46] mawkee commented on #81
I think it's actually similar to the first option. They implemented RoutePattern and RegexPattern, then created a partial to each one of them (path / re_path). In practice, for the common user, he'll use either one of those

[2017-10-11 17:47] mawkee commented on #81
I can work on this as soon as you decide which approach you want done ;-)

[2017-10-11 19:14] rougeth commented on #81
@mawkee well, let's try the first option :)

[2017-10-11 19:46] rougeth commented on #26
Discussion about context on #76

[2017-10-11 19:46] #26 closed

[2017-10-11 20:56] rougeth commented on #79
Reference: https://stackoverflow.com/questions/43207927/how-to-shutdown-the-loop-and-print-error-if-coroutine-raised-an-exception-with-a

[2017-10-11 21:11] rougeth commented on #79
It seems to be bigger then I thought: https://github.com/python/asyncio/issues/397.

@mawkee have you ever got in this issue?

[2017-10-11 21:58] nicoddemus commented on #77
Btw, it should be possible to support both `async` and normal functions without users having to do anything in special:

[code]

On our message handling loop, we can use [`inspect.isawaitable`](https://docs.python.org/3/library/inspect.html#inspect.isawaitable) to decide if we want to
`await` on the handler or call it directly.

[2017-10-11 22:19] ellisonleao commented on #60
Can we use [Pipfile](https://github.com/pypa/pipfile) instead or its just too soon?

[2017-10-12 03:47] ElSaico commented on #79
I'm facing this as well - and, sadly enough, the solutions presented don't seem to work...

[2017-10-12 18:58] IvanBrasilico commented on #81
A suggestion of a FlexiblePattern. User can pass any function to pre-process the message beffore comparing to pattern:

class FuncPattern(Pattern):
    '''Receives a function to preprocess the incoming message
    text before comparing it to the pattern.
    Allows use of regular expressions, selecting partial words for
    routing, etc'''
    def __init__(self, pattern, view, pre_process):

[2017-10-12 18:59] IvanBrasilico commented on #81
Code on https://github.com/IvanBrasilico/LacreBot

[2017-10-12 19:19] IvanBrasilico commented on #76
The solution proposed for context is simple and well thinked, but I think it is too much responsability into one single function (a view). Also, the view for a while will take all control of the flow, and all error control, security, and wathever core stuff implemented in bottery could by bypassed in the view, possibly leading to bad implementations. The "head_set" implementation could avoid this

[2017-10-12 19:21] IvanBrasilico commented on #76
This is the part of the core code that needs to be changed:

`    async def message_handler(self, data):
        message = self.build_message(data)

        # Try to find a view (best name?) to response the message
        view = discover_view(message)
        if not view:
            return

        response = view(message)`

[2017-10-12 19:43] IvanBrasilico commented on #76
Altough the 'hook' may seen complicated at first point, it allows more complex interactions. Let's say we build a bot that has a general mode, that can enter a command mode, two or more NLP modes, a query mode, and so on. The "command" mode should also act like a menu, having levels and/or asking for completion of parameters passed. Soon it would be impossible to decide what patterns go for each s

[2017-10-13 17:11] rougeth commented on #79
I couldn't reproduce the same issue in a simpler example. A `raise` on both `main` and `subtask` will print the error:

[code]

But in a view, if I do something like this, bottery won't show the error:

[code]

[2017-10-13 17:29] IvanBrasilico commented on #79
Maybe the views must be assyncronous functions too.

[2017-10-13 18:32] rougeth commented on #79
Dear friends, the problem was in the logger settings :/ Sorry for that hahahaha

![](https://media.giphy.com/media/LyJ6KPlrFdKnK/giphy.gif)

[2017-10-13 18:56] rougeth opened #88 "Catch KeyboardInterrupt on app.run() and close session and loop"
https://github.com/rougeth/bottery/blob/master/bottery/cli.py#L52-L57

[2017-10-13 19:09] Kalaborative commented on #88
Hi,

By this do you mean, restart the `app.run()` session? Just making sure. Thanks!

[2017-10-13 19:14] guidiego commented on #88
@Kalaborative I think that he wants something like use `.close` method from asyncion.Event and aiohttp.Session. I wrote this code right now:

[code]

[2017-10-13 19:17] guidiego commented on #70
@nicoddemus @rougeth we had some problems with it in Tenfold too, we noticed that sometimes codecov had delay to process the new coverages entries (mainly when you have many concurrencies builds running and reporting)

[2017-10-13 19:18] guidiego commented on #77
I want to learn more about AsyncIO, could I get this one?

[2017-10-13 19:35] rougeth commented on #88
Yep, that is it @guidiego, `session` without `_` and calling this new method on `bottery.cli.run` after catching KeyboardInterrupt exception.

[2017-10-13 19:52] #79 closed

[2017-10-13 19:55] rougeth commented on #88
@Kalaborative just remember to test it :)

[2017-10-13 22:00] guidiego commented on #76
What do you think about a `class` approach like:

[code]

[code]

[2017-10-13 22:12] rougeth commented on #76
A guy from work recommended RasaHQ https://github.com/RasaHQ/rasa_core.

[2017-10-13 22:48] jtemporal commented on #72
Hi @rougeth have you seen any example of that in any other project?

I'd like to take a go at this one =)

[2017-10-14 00:04] rougeth commented on #72
@jtemporal I'd search for how to install dependencies from setup.py on tox. Probably something like `deps = .[dev]` should work.

[2017-10-14 02:48] #72 closed

[2017-10-14 03:01] rougeth commented on #70
[codecov](https://codecov.io/gh/rougeth/bottery/list/master/bottery) and [pytest-cov](https://travis-ci.org/rougeth/bottery/builds/287812616) are showing different reports :/ (both on master)

<img width="944" alt="screen shot 2017-10-13 at 23 58 23" src="https://user-images.githubusercontent.com/431892/31572003-a545e49c-b072-11e7-83c9-f19be717a001.png">
<img width="1143" alt="screen shot 2017-10-

[2017-10-14 20:33] ElSaico opened #91 "TelegramEngine reaches recursion limit after a while"
With #79 solved, it seems a couple issues were unearthed.

After a while, since Python lacks tail-recursion due to a design decision by Guido himself, those consecutive calls to `self.polling` end up hitting the runtime's recursion depth limit, throwing a `RecursionError` in the process.

Of course, the bot becomes inoperant after this.

[2017-10-14 22:29] IvanBrasilico commented on #76
I wrote a code that can handle a cli conversation following a simple dict configuration and make a request to an JSON API. I made tests on an application on my site and on a CEP WebService. The patterns.py code would be as simpler as follows. Running example on https://github.com/IvanBrasilico/bottery/tree/rules_tests. Just need a bot of yours in setting.py to test.

`rules = {'tec': {'rank': 'htt

[2017-10-15 00:30] rougeth commented on #91
Thanks @ElSaico! Any suggestion on how to solve this?

[2017-10-17 11:19] nicoddemus commented on #77
Sure! I wonder now if we should make all handlers async. The user would just need to add `await`, we can verify that he does and would make our implementation simpler. @rougeth what's your opinion here?

[2017-10-17 11:40] guidiego commented on #1
Can I get it?

My idea is mix this 2 guys:
https://github.com/Mimino666/langdetect
https://github.com/tuvistavie/python-i18n

To can handle properly an i18n translated based on user entry <3 My initial idea is apply it to Message object, something like

[code]

We use `message._detected_lang` to get the return across the decorator and return the correct i18n translation :)

CC: @rougeth

[2017-10-17 14:56] rougeth commented on #91
Fixed here: https://github.com/rougeth/bottery/blob/master/bottery/platform/telegram.py#L114

[2017-10-17 14:56] #91 closed

[2017-10-17 16:10] jairojair opened #99 "TelegramEngine.polling => Exception TimeoutError"
Hi Folks,

With #91 solved, I updated my codebase. After a while app raise a exception, more details under here.

[code]

This issue happened only once time, I'm cannot reproduce the error.

Thanks a lot ~

[2017-10-18 02:30] rougeth commented on #77
I believe the benefits of accepting both kind of handlers is greater them just async handlers. :)

[2017-10-18 03:47] bradshjg commented on #3
I've taken a look at the web API for Slack and trying to think through what would be the right default behavior. How does "check and respond to all channels the bot belongs to, and all DMs"? Also, it looks like the RTM API will be the easiest way to implement, how do you feel about the slackclient being an optional dependency (via `extras_require`) and a required dependency for the slack engine?

[2017-10-18 10:57] nicoddemus opened #102 "Decorating views"
How about we use decorators instead of having an explicit registry?

[code]

[2017-10-18 11:00] nicoddemus opened #103 "Share bot functionality?"
I was thinking, some functionality like talking with Jenkins or GitHub could be shared with others so they can incorporate that functionality into their own bots, similar to how [Hubot](https://hubot.github.com/) works. Is this something we would like to have for `bottery`?

[2017-10-18 11:17] nicoddemus commented on #3
This makes me wonder if perhaps a plugin approach for platforms might be interesting? Then users that want the telegram API can do:

[code]

To get the telegram backend, and this can bring any dependencies necessary.

Otherwise, I like the `extras_require` option because users can then do:

[code]

But then every new platform will have to be integrated directly into `bottery`.

[2017-10-18 20:39] guidiego commented on #102
@nicoddemus  Correct me if I am wrong, but to use this guys in that way, we will need to have a global var inside `bottery.conf.patterns`, or make a kind of filter using a property inside the function. Isn't better do something like:

[code]

This approach open space to insert params in `get_patterns()` and `BotPatterns()` call :)

[2017-10-18 20:42] guidiego commented on #88
@rougeth could I handle that one? Or prefer waiting a couple of days?

[2017-10-18 20:43] rougeth commented on #88
@guidiego nooo, go ahead my friend :)

[2017-10-18 23:39] nicoddemus commented on #76
@guidiego

Using a class (or set of classes) is a perfectly valid approach. My example was meant just to illustrate the concept.

@rougeth

Wow that is awesome.

---

But I now realize that perhaps my example came across to implement full blown conversation to the bot, which was not my intent. My bad!

The `await`/`head_set` idea (that was a tongue in cheek name, probably a more suitable name woul

[2017-10-18 23:55] nicoddemus commented on #102
Hey @guidiego!

Yes, but very much as we have a `patterns` global variable now 😉

You mean make the decorator add an attribute to the decorated function (`func._bottery_pattern = True`) and then we just `dir()` the module and get all functions with that attribute set? Yes that's another possibility.

Your `BotPatterns()` suggestion is good, but complicates usage a little bit I think... do we have

[2017-10-19 00:49] guidiego commented on #102
@nicoddemus like your comment!

Maybe some whatsaap and github stuff as well. Slack, Telegram e Messenger are the only 3 platforms that I know that support buttons, and custom stuffs in body. We can have a option to doesn't sent a kind of message to unsupported platforms, or, to use a custom parser.

Another good point about decorators (we can open another issue for it), is if one day we decided t

[2017-10-19 01:13] nicoddemus commented on #102
Howdy @guidiego!

I'm not sure how this comment maps to a *set* of patterns, which is what I understood from your earlier example:

[code]

Can you provide an example what you mean by "support buttons" in this case? And why it would be a good idea to have this defined in different `BotPatterns`? Perhaps that will clarify things for me.

About your class decorator example, I believe having differen

[2017-10-19 01:18] nicoddemus opened #106 "Comparison with errbot"
[errbot](http://errbot.io/en/latest/) is another bot framework for Python.

It might nice for us to write a comparison between `bottery` and `errbot`, their philosophical differences, learn from their mistakes and incorporate some of their good ideas into `bottery` itself.

[2017-10-19 01:41] guidiego commented on #102
Sure that I can @nicoddemus, lets start with a example:

[code]

In #78 this is how I insert custom keyboard buttons on telegram response. Let's imagine that one day we will do something like that for Slack or Messenger. I my mind bottery wants to be a easy way to do that cross-platform bots, so I need to understand that `telegram.reply_keyboard_markup` is similar to an another widget in other pla

[2017-10-19 11:02] guidiego commented on #3
@nicoddemus @bradshjg @rougeth I have an idea in my mind and will share with you guys:

The core idea it defines one unique parser inside view and makes it available to adapt the response to all platforms based on specific handles. If you want to override a specific handle as `telegram.parser` you can do that and change the response only for that platform :)

![untitled diagram](https://user-image

[2017-10-19 15:38] rougeth commented on #103
I never used Hubot, didn't get the point. @nicoddemus could your provide an example?

[2017-10-19 15:47] rougeth commented on #102
@guidiego In your example, you'll want that the bot respond or act in some way depending on which button the user clicked, right? If whatspp doesn't implement that kind of button, there is no way to continue the flow like telegram, so, we would need two different views.

I believe that trying to make this relations on features that each platform implement will be something really hard to do and ma

[2017-10-19 15:49] rougeth commented on #3
@guidiego In the example you gave at #102, you'll want that the bot respond or act in some way depending on which button the user clicked, right? If whatspp doesn't implement that kind of button, there is no way to continue the flow like telegram, so, we would need two different views.

I believe that trying to make this relations on features that each platform implement will be something really h

[2017-10-19 15:52] rougeth commented on #3
I like the idea of just `pip install bottery` and start creating the bot. I also don't want to have a Frankenstein. But my feeling is that we should have everything needed to run a bot in the platforms we support.

[2017-10-19 15:57] guidiego commented on #3
@rougeth buttons only reply a text for you to the bot :) So I can have a similar stuff make asking for the user in a list which option he wants.

[2017-10-19 16:06] rougeth commented on #3
@guidiego not only that, take a look at @botfather at Telegram.

[2017-10-19 16:10] #77 closed

[2017-10-19 22:35] nicoddemus commented on #103
Sure.

Hubot is basically a hub, so you can install "scripts" into it that teach new commands. So for example, the bare `hubot` only understands `"hubot hello"` and replies with `"hey"`.

But then you install [hubot-jenkins](https://www.npmjs.com/package/hubot-jenkins) and now it understands:

* `hubot jenkins b ` - builds the job specified by jobNumber. List jobs to get number.
* `hubot jenkins b

[2017-10-19 22:41] nicoddemus commented on #3
@rougeth so you are thinking more like the user will install only `bottery` and it will come with all back-ends working out of the box?

[2017-10-20 11:52] #88 closed

[2017-10-20 14:26] rougeth commented on #106
There is also [ChatterBot](https://chatterbot.readthedocs.io/)

[2017-10-20 14:26] rougeth commented on #103
That's nice! I think that doing something like Hubot should be easy on Bottery.

[2017-10-21 02:15] jenkassim commented on #47
Hi @rougeth, I think I could really use some help :)
I've managed to get my environment up and running with tox but wondering if you could elaborate further on global_settings and maybe some examples on what the TEMPLATES should have?
Still unsure of how to add the coverage for this. Thanks!

[2017-10-21 02:15] rougeth opened #109 "Loop not being shutdown gracefully"
Even running `loop.stop()` and then `loop.close()` we're getting those messages:

[code]

[2017-10-24 13:04] rajasimon commented on #106
Chatterbot is one of the best one I like in python bot framework. Easy integration with Django is additional plus. May be can you write the doc about how to deploy or How to run this with Django web application.

[2017-10-24 23:41] nicoddemus commented on #106
@rajasimon good point, updated the title to reflect that.

[2017-10-28 16:24] Lrodlima commented on #4
Hey @rougeth !!
Any idea how this feature should be implemented ? Can we try some NLTK for example ? Could you give me some guidance ?

[2017-10-28 17:25] rougeth commented on #4
Hi @Lrodlima! Before going to NLP integration, I'd like to have a well designed API for conversations with context. We're discussing it on #76. Take a look at that :)

[2017-10-28 17:49] IvanBrasilico opened #111 "Handle exception on view"
In my instalation, if an exception occurs on a view the app hangs/ the loop dies.

I think it is just a matter of calling the view with a try: except: but would like to know if it is common to all and if anyone thank about a more elegant solution.

Obviously, the implemented view must handle the exception itself, but the core may have some client implementations error proof

[2017-10-28 18:02] IvanBrasilico commented on #76
Hi.

As a suggestion, I implemented 3 different bottery "extensions". All of them use a "Hang" to capture the messages and a ContextHandler to maintain context information and user inputs. All of them have operational examples inside.

https://github.com/IvanBrasilico/bcontext - Just the ContextHandler, the view does all flow control.
https://github.com/IvanBrasilico/binput - Includes a "Input" co

[2017-10-31 18:46] rougeth commented on #106
Google published today a project called [Bottery](https://github.com/google/bottery). There's a thread on [Hacker News](https://news.ycombinator.com/item?id=15592800) with a lot of stuff we can learn from :)

[2017-11-14 20:16] rougeth opened #113 "Document Telegram webhook mode"

[2018-01-10 01:24] leportella commented on #81
I think that after the refactor this issue should be closed, since patterns changed drastically

[2018-01-10 01:25] leportella commented on #102
I think that after the refactor this issue should be closed, since patterns changed drastically

[2018-01-21 16:53] #113 closed

[2018-01-21 16:54] #102 closed

[2018-01-21 16:55] #81 closed

[2018-01-21 16:55] rougeth commented on #70
I believe that was fixed :)

[2018-01-21 16:55] #70 closed

[2018-01-21 16:59] rougeth commented on #60
Closing this one here, cannot see why Pipfile would help us here.

[2018-01-21 16:59] #60 closed

[2018-01-21 21:14] patrickelectric opened #125 "What to do with No tasks found. ?"
Fresh install, `No tasks found.` appear with `bottery run`.

[2018-01-21 21:56] rougeth commented on #125
Hi @patrickelectric, you run `bottery startproject <name>`, set your bot token on `settings.py` and executed `bottery run`? This message indicates that something on configuration didn't work (e.g. setting polling mode on Telegram platform).

I understand that the message isn't helpful at all. I'll take a lot on how to get it better.

Thanks for opening the issue.

[2018-01-21 22:23] patrickelectric commented on #125
I have a local computer running the code without problems.
Maybe can be something related with my vps ? Both settings are identical.
Code struct:
[code]

You can cheme my settings  [here](https://paste.kde.org/pgqt4nrqg).

[2018-01-21 22:43] rougeth commented on #125
My guess would be something related to polling mode on Telegram. It keeps requesting for updates from Telegram API (VPS thinking your are DDoSing Telegram API?).

I would suggest you to use webhook mode. Almost no changes on `settings.py`, but you would need to expose your bot on port 80 or 88 ([ref](https://core.telegram.org/bots/api#setwebhook)) (we don't support SSL yet, sorry about that).

`$

[2018-01-21 23:52] patrickelectric commented on #125
Same error..
I don't know if this help, but running the local bot, and starting the vps bot, the local one returns:
[code]

[2018-01-22 00:26] rougeth commented on #125
Oh, I thought it was working on your local machine. The token you put on `settings.py` is exactly as you got from BotFather? This is probably the case.

[2018-01-22 01:03] patrickelectric commented on #125
Sorry, probably I was not clear enough.
Yes, the bot is working in my local machine, this error appear when I start the vps bot. My conclusion is that the vps bot start the communication with the telegram server, that's why my local bot exit. I don't know if this information can help, just a plus.

[2018-01-22 02:03] rougeth commented on #125
Alright, when you said `same error` did you mean the `No tasks found` problem? I don't know how Telegram reacts when there are two different machines making request for its API but I do know that it only works on one mode at the time, polling or webhook.

[2018-01-22 19:36] Lrcezimbra opened #126 "[Telegram] KeyError: 'text' when bot was added in a group"
When the bot was added in a group, it receives a message like `Lucas Rangel Cezimbra invited bot` but when bottery receives this message it comes without text, so raises an exception as below.
[code]
https://github.com/rougeth/bottery/blob/master/bottery/platform/telegram/engine.py#L133

[Telegram documentation](https://core.telegram.org/bots/api#message) says that text is a optional field.

Is th

[2018-01-22 23:18] rougeth commented on #126
Hi @Lrcezimbra, never got this error before, but it's exactly what you describe. Would be good to have a method at Message that could identify if the message was actually a notification the the bot entered in a group. We discussed some possible changes on Message here: #120.

I believe for now the `message_data.get('text')` is perfect, but we'll need to figure something more robust.

I would glad

[2018-02-10 22:36] romulocollopy opened #129 "run bottery in production"
I'd like to discuss how is the best way to deploy Bottery.

It is already possible to run bottery as a python command in  uWsgi
[code]
or with gunicorn and `aiohttp.worker.GunicornWebWorker`

[code]

In booth cases, `bot.run(server_port=7000)` is called to start and configure Bottery.
Maybe we could extract part of `run`method for someting called `start_app` to avoid some unnecessary calls, as `se

[2018-02-10 22:37] romulocollopy commented on #129
@rougeth if you agree with this approach, please assingn me to the issue that I'll prepare a PR

[2018-02-24 20:13] rougeth commented on #129
@romulocollopy how the gunicorn handles the server creation? this is one of the parts we don't need, right? https://github.com/rougeth/bottery/blob/master/bottery/bottery.py#L85-L91

I believe this change should be fine! 👍

[2018-02-26 20:08] ozbek opened #130 "docs.bottery.io is down?"
Can not seem to be able to open the page. Is it only me?

[2018-02-26 20:20] nicoddemus commented on #130
It is down for me as well, but http://bottery.readthedocs.io/en/latest/ is working.

[2018-02-26 21:59] rougeth commented on #130
Up again, thanks guys.

[2018-02-26 21:59] #130 closed

[2018-02-26 22:12] rougeth commented on #130
I'm doing some tests, but everything should be fine.

[2018-04-10 03:05] #126 closed

[2018-04-10 19:26] nicoddemus opened #136 "Support for webhooks"
It is usually useful for bots to be able to receive webhooks from other systems so they can interact with them, for example GitHub itself.

Some examples:

* [miss-islington](https://github.com/python/miss-islington) is a bot used by CPython which is notified whenever a PR is marked for backporting to a previous branch using a label; it then automatically finds the commits in that PR and cherry-pi

[2018-04-10 21:44] rougeth commented on #136
We already have support for webhooks 🎉 Actually supporting Messenger required webhooks to work.
So to implement integration with other platforms that needs webhook should be something \*easy\* to do.

[2018-04-10 22:01] nicoddemus commented on #136
Oh I must have missed that. Do we have documentation for that?

Also, can my *bot* implement a webhook, or instead platforms can use webhooks for communication? This issue is related to the former.

Yeah, I'm always thinking about using bots for development, not really for chatting, so this suggestion might not be aligned with the vision of the project, sorry about that. 😁

[2018-04-19 14:42] jtemporal opened #138 "String problem"
Hi! So I was trying to make the bot answer with a shrug

here's my `views.py`:
[code]

and my `handlers.py`:
[code]

it also doesn't work with `r'¯\_(ツ)_/¯'`

any clues?

[2018-04-19 18:43] jtemporal opened #139 "reply to message"
Would be lovely to have the possibility to `reply_to_message_id` as in [send message](https://core.telegram.org/bots/api#sendmessage)

[2018-04-21 23:46] leportella opened #140 "Allow chose template between markdown and HTML"

[2018-04-21 23:49] leportella opened #141 "Check if status of sent message"
Example:

In `bottery/platforms/telegram/engine.py` Bottery uses the `self.api.send_message` to send the message but never checks which status the api responds.

[2018-04-22 04:14] rougeth opened #143 "Doc of the dreams"
Check list to help to remember what should or must be at the documentation of Bottery.
Suggestions are **really** welcome.

- [ ] How to create your own engine
- [ ] How to deploy

[2018-04-22 15:49] leportella commented on #139
This issue was closed on #142  and enhanced on #144 😃

[2018-04-22 15:49] #139 closed

[2018-04-22 16:04] rougeth commented on #138
Error from Telegram API: `Bad Request: can't parse entities: Can't find end of the entity starting at byte offset xxx`

[2018-04-23 03:11] rougeth opened #149 "Fix markdown long description on pypi.org"
ref: https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi
https://pypi.org/project/bottery/

[2018-04-23 12:38] jtemporal commented on #143
I'd love to help writing the "A big tutorial" part! anyone working on that?

[2018-04-23 15:39] rougeth commented on #143
@jtemporal that would be great, thanks. Create an issue so that we can discuss the ideais :)

[2018-04-23 15:46] rougeth commented on #129
We now have a `wsgi.py` file to serve the projects using Bottery. It isn't on docs yet, but it's on the checklist at https://github.com/rougeth/bottery/issues/143.

[2018-04-23 15:46] #129 closed

[2018-04-24 22:40] diegomaranhao opened #150 "Allow to create bottery project in current directory just linke django."
When I create a new project I usually use the following flow:
1- I create a project directory
2- Enter into the directory and create a virtual env with 'python -v  venv .venv
3- Activate my virtual env
4- Install my needs with pip
5- Start a new project in the created folder like 'django-admin startproject projectname .'

But with bottery doesn't  accept the '.' parameter yet.

[2018-04-26 04:40] rougeth opened #151 "Create Issue and Pull Request templates"

[2018-04-27 12:38] rougeth opened #152 "Use pytest-deadfixtures on CI"
The `pytest-deadfixtures` plugin search for duplicated and not used fixtures.

[2018-04-28 16:01] rougeth opened #154 "View should be able to not response any message"
We need to be able to have views that only processes the message and do not anything. Today, if a view doesn't  have a `return` statement, Bottery will send `null` as response to that message.

[2018-04-28 16:45] rougeth opened #155 "Middlewares"
I want to be able to create actions before and/or after the message/response process.

[2018-04-28 17:14] #155 closed

[2018-04-28 17:15] #151 closed

[2018-04-28 22:13] rougeth opened #157 "Issue and Pull Request templates should not use markdown features"
When someone is opening an issue or a pull request, what it sees isn't a markdown text rendered but raw, so there're a lot of `**` in the middle of the text that makes it harder to be read.

So, the templates, should be simpler.

[2018-04-28 23:10] #154 closed

[2018-04-29 20:03] rougeth opened #159 "Middleware example should be async"
There are two examples of middlewares at the documentation, a function and a class middlewares. The function middleware should be `async` and the class middleware doesn't actually work.

[2018-04-29 21:10] rougeth opened #160 "Fix test_bottery warnings"
Session of the bot fixture must be closed after used. Probably here: https://github.com/rougeth/bottery/blob/master/tests/test_bottery.py#L22
[code]

[2018-04-29 21:19] rougeth opened #161 "Handler instances should returns the selected view"
The tuple with a handler instance and a view is being sent to Bottery, instead of just a handler instance. To make it simpler to extend/create handlers, we should have the selected view inside the instance.

[2018-04-30 12:34] #157 closed

[2018-05-01 17:01] #161 closed

[2018-05-09 04:32] rougeth opened #164 "Messenger considering wrong payload from Facebook webhook"
The Messenger platform isn't running message handler for all messages that arrives in batch. At [platform/messenger/engine.py#L46](https://github.com/rougeth/bottery/blob/master/bottery/platform/messenger/engine.py#L46), we are getting only the first item of `entry`:

[code]

Reference: https://developers.facebook.com/docs/messenger-platform/reference/webhook-events

[2018-05-12 01:11] rougeth opened #165 "Move platforms modules outside platform module"
`bottery.platform.telegram` -> `bottery.telegram`
`bottery.platform.messenger` -> `bottery.messenger`
`bottery.platform` -> `bottery.platforms`

[2018-05-12 20:45] #165 closed

[2018-06-02 23:19] vmesel opened #167 "Allow hot-reload"
Hey @rougeth, your project is awesome!

I would like to know if there is any way to "hot reload" the project, such as Flask when on Debug mode.

If I edit a file, it should be reloaded on the bot.

[2018-06-13 14:37] cauebs commented on #167
@vmesel This is indeed a cool feature. In the meantime, you can use something like https://github.com/mattgreen/watchexec to achieve this behavior :)

[2018-07-01 12:06] romulocollopy commented on #125
I have the same error running on heroku. I coundn't emulate it locally, thought.
It is very possible I've ran two machines at the same time with the bot, but I only get this error in production.
The worst part is heroku stops the process after some error, and the bot goes offiline for a while (from minutes to hours).

To me would be enough to silence this error and continue, but I'm yet studing ho

[2018-07-01 12:51] romulocollopy commented on #125
https://github.com/rougeth/bottery/pull/168

[2018-07-01 19:06] romulocollopy commented on #125
I just realize that revoke the token and generate a new one can solve this problem

[2018-09-12 22:33] rougeth opened #169 "Add Python 3.7 to tox.ini"

[2018-09-15 12:45] rougeth opened #171 "Remove module dependency from settings"
Today, `bottery.conf.settings` depends on the user to have a `settings.py` file. This makes a feels things harder to do, like tests.

Having something like this would be great:
[code]

[2018-09-15 12:46] rougeth commented on #171
Closed by #170

[2018-09-15 12:46] #171 closed

[2018-09-15 19:49] rougeth opened #172 "Create option on settings to change default module for msg handlers"
Something like`ROOT_MSGCONF`.

[2018-09-15 19:54] rougeth opened #173 "Remove `settings_module` param of Bottery"
This option  isn't being used.

[2018-09-15 20:40] #173 closed

[2018-09-15 20:40] #172 closed

[2018-10-01 06:27] NaveenBellary commented on #169
@rougeth, I would like to take this up

[2018-10-01 16:40] nicoddemus opened #175 "Warnings: coroutine 'ClientSession.close' was never awaited"
I've seen this warnings in bottery's CI:

[code]

Seems like that line should be `await self.session.close()`, correct?

[2018-10-01 16:51] #169 closed

[2018-10-01 17:12] Itisfilipe opened #176 "Is there any roadmap for this project?"
Hi, I was looking into this project and I was wondering if is there any plans for extending it to work with Github, Slack, maybe Gitlab... I mean, this is intended to become a genelized bots framework or the plan is to have it working just for chats. Also, is there any roadmap even if an informal one?

[2018-10-01 17:16] rougeth commented on #169
Thank you @NaveenBellary!!

[2018-10-02 19:50] Itisfilipe opened #178 "Add tox to the dev dependencies"
I am not sure if that was intentional but I can't see why `tox` isn't on dev dependencies since it is basically required for this project

https://github.com/rougeth/bottery/blob/52f7142d9a7bd8abda57263e092ab981d3fd6029/setup.py#L41-L55

[2018-10-02 19:59] Itisfilipe commented on #178
nah, figured out that `tox` should be installed globally 😅

closing this...

[2018-10-02 19:59] #178 closed

[2018-10-20 21:37] jessicapaz commented on #159
Hey @rougeth, can I take this one?

[2018-10-21 18:42] rougeth opened #179 "Handle Telegram API response in case of failure"
Bottery ignores errors from Telegram API. If, for example, an invalid token is used, no message is shown and, the process breaks because it tries to continue even if something is wrong with Telegram.

[code]

[2018-10-21 21:09] rougeth commented on #176
Hi @Itisfilipe, I was completely out in the past few months, so project was "paused". No, we don't have milestones and/or roadmap, but I do have plenty of ideas in my head. I will try to write it down in the next days (or weeks), but please, if you have something in mind, open an issue and we discuss it.

About the specific question you came up with, I can say that initially the idea was to focus

[2018-10-28 17:49] rougeth opened #183 "Fix regex strings in tests and docs"
Strings are interpreted as Unicode strings in Python 3, in cases like `handlers.regex('\d+', numbers)` (docs/handlers.rst) the `\` is treated as an escaped Unicode character. In this cases, raw string must be used.

[2018-10-28 18:48] #183 closed

[2019-07-25 12:10] mvellasco commented on #159
@jessicapaz Are you still working on this issue? If you're not please let know.